<div id="tasks-calendar" class="page-layout simple fullwidth doc-page" layout="row" layout-wrap>
    <!--HEADER-->
    <div class="header md-accent-bg" layout="row" layout-align="space-between" flex="100">
        <div layout="column" layout-align="space-between stretch" flex="100">
            <div layout="row">
                <div class="title" flex="60">
                    {{ 'TASKS-CALENDAR.TITLE' | translate }}
                    <span class="beta-sign">BETA</span>
                </div>
                <div flex="40" layout="row" layout-align="end center">
                    <md-button type="button" class="md-raised add-ticket-btn" ng-click="vm.addEditTicket()">
                        <md-icon md-font-icon="icon-library-plus" class="s20 grey-600-fg"></md-icon>
                        <span hide-gt-xs>{{ 'TASKS-CALENDAR.TICKET' | translate }}</span>
                        <span hide show-gt-xs>{{ 'TASKS-CALENDAR.CREATE_TICKET' | translate }}</span>
                    </md-button>
                </div>

            </div>
            <div class="options-row bottom-menu-wrapper" flex layout-wrap layout-align="space-between end" layout="row">

                <!-- tablet / desktop menu -->
                <div class="header-filters-block" layout="row">
                    <!-- sprints filter -->
                    <div layout="row" layout-align="start end">
                        <md-select class="md-no-underline" ng-model="vm.selected_sprints"
                            data-md-container-class="searchable-select" md-on-close="vm.selectSprint()" multiple="true"
                            md-selected-text="vm.selectSprintLabel()">
                            <!-- Search field -->
                            <md-select-header class="select-header">
                                <input class="select-search md-text" type="search" ng-model="vm.sprintSearch"
                                    placeholder="{{ 'OTHER.SEARCH' | translate }}...">
                            </md-select-header>
                            <!-- Select all -->
                            <md-select-header class="select-header" ng-click="vm.selectSprintAll()" md-ink-ripple>
                                <md-icon
                                    ng-if="vm.selected_sprints.length && vm.selected_sprints.length !== vm.sprints.length"
                                    md-font-icon="icon-checkbox-multiple-blank-outline" class="ml-0 mr-5"></md-icon>
                                <md-icon
                                    ng-if="!vm.selected_sprints.length || vm.selected_sprints.length === vm.sprints.length"
                                    md-font-icon="icon-checkbox-multiple-marked" class="ml-0 mr-5"></md-icon>
                                <span ng-if="!vm.backlog">
                                    <md-icon md-font-icon="icon-checkbox-blank-circle green-600-fg" class="option-status s14"></md-icon>
                                    {{ 'OTHER.ALL_SPRINTS' | translate }}
                                </span>
                                <span ng-if="vm.backlog">{{ 'BOARD.BACKLOG' | translate }}</span>
                            </md-select-header>
                            <!-- List -->
                            <md-optgroup>
                                <md-option ng-value="sprint.id" ng-repeat="sprint in vm.sprints"
                                    ng-show="searchItem(sprint, 'name', vm.sprintSearch)">
                                    <md-icon ng-if="sprint.status && sprint.status == 'none'" md-font-icon="icon-checkbox-blank-circle-outline grey-400-fg" aria-label="active" class="option-status s14"></md-icon>
                                    <md-icon ng-if="sprint.status && sprint.status == 'active'" md-font-icon="icon-checkbox-blank-circle green-600-fg" aria-label="active" class="option-status s14"></md-icon>
                                    <md-icon ng-if="sprint.status && sprint.status == 'paused'" md-font-icon="icon-checkbox-blank-circle amber-700-fg" aria-label="active" class="option-status s14"></md-icon>
                                    <md-icon ng-if="sprint.status && sprint.status == 'inactive'" md-font-icon="icon-checkbox-blank-circle grey-400-fg" aria-label="inactive" class="option-status s14"></md-icon>
                                    {{ sprint.name }}
                                </md-option>
                            </md-optgroup>
                        </md-select>
                    </div>

                    <!-- stories filter -->
                    <div layout="row" layout-align="start end">
                        <md-select class="md-no-underline" ng-model="vm.selected_stories"
                            data-md-container-class="searchable-select" md-on-close="vm.selectStory()" multiple="true"
                            md-selected-text="vm.selectStoryLabel()">
                            <!-- Search field -->
                            <md-select-header class="select-header">
                                <input class="select-search md-text" type="search" ng-model="vm.storySearch"
                                    placeholder="{{ 'OTHER.SEARCH' | translate }}...">
                            </md-select-header>
                            <!-- Select all -->
                            <md-select-header class="select-header" ng-click="vm.selectStoryAll()" md-ink-ripple>
                                <md-icon
                                    ng-if="vm.selected_stories.length && vm.selected_stories.length !== vm.stories.length"
                                    md-font-icon="icon-checkbox-multiple-blank-outline" class="ml-0 mr-5"></md-icon>
                                <md-icon
                                    ng-if="!vm.selected_stories.length || vm.selected_stories.length === vm.stories.length"
                                    md-font-icon="icon-checkbox-multiple-marked" class="ml-0 mr-5"></md-icon>
                                <span>{{ 'OTHER.ALL_STORIES' | translate }}</span>
                            </md-select-header>
                            <!-- List -->
                            <md-optgroup>
                                <md-option ng-value="story.id" ng-repeat="story in vm.stories"
                                    ng-show="searchItem(story, 'name', vm.storySearch)">
                                    {{ story.name }}
                                </md-option>
                            </md-optgroup>
                        </md-select>
                    </div>

                    <!-- users filter -->
                    <div ng-show="vm.hasPermission('ticket_show', ['all', 'reporter', 'not_assigned'])" layout="row" layout-align="start end">
                        <md-select class="md-no-underline" ng-model="vm.selected_users" data-md-container-class="searchable-select"
                            md-on-close="vm.selectUser(user.user.data.id)" multiple="true" md-selected-text="vm.selectUserLabel()">
                            <!-- Search field -->
                            <md-select-header class="select-header">
                                <input class="select-search md-text" type="search" ng-model="vm.userSearch"
                                    placeholder="{{ 'OTHER.SEARCH' | translate }}...">
                            </md-select-header>
                            <!-- Select all -->
                            <md-select-header class="select-header" ng-click="vm.selectUserAll()" md-ink-ripple>
                                <md-icon ng-if="!vm.selected_users || vm.selected_users.length && vm.selected_users.length !== vm.users.length"
                                    md-font-icon="icon-checkbox-multiple-blank-outline" class="ml-0 mr-5"></md-icon>
                                <md-icon ng-if="(vm.selected_users && !vm.selected_users.length) || (vm.selected_users.length === vm.users.length)"
                                    md-font-icon="icon-checkbox-multiple-marked" class="ml-0 mr-5"></md-icon>
                                <span>{{ 'OTHER.ALL_USERS' | translate }}</span>
                            </md-select-header>
                            <!-- Only unassigned -->
                            <md-select-header class="select-header" ng-click="vm.selectUserNotAssigned()" md-ink-ripple>
                                <md-icon ng-if="vm.selected_users && vm.selected_users.length !== vm.users.length"
                                    md-font-icon="icon-account-outline" class="ml-0 mr-5"></md-icon>
                                <md-icon ng-if="vm.selected_users === null || vm.selected_users.length === vm.users.length"
                                    md-font-icon="icon-account-remove" class="ml-0 mr-5"></md-icon>
                                <span>{{ 'OTHER.NOT_ASSIGNED' | translate }}</span>
                            </md-select-header>
                            <!-- List -->
                            <md-optgroup>
                                <md-option ng-value="user.user_id" ng-repeat="user in vm.users"
                                    ng-show="searchItem(user.user.data, 'first_name', vm.userSearch) || searchItem(user.user.data, 'last_name', vm.userSearch) ||
                                        (vm.userSearch === '' && !user.user.data)">
                                    {{ user.user.data.first_name }} {{ user.user.data.last_name }}
                                </md-option>
                            </md-optgroup>
                        </md-select>
                    </div>

                    <!--status filter-->
                    <div layout="row" layout-align="start end">
                        <md-select class="md-no-underline" ng-model="vm.selected_statuses"
                            data-md-container-class="searchable-select" md-on-close="vm.selectStatus()" multiple="true"
                            md-selected-text="vm.selectStatusLabel()">
                            <!-- Search field -->
                            <md-select-header class="select-header">
                                <input class="select-search md-text" type="search" ng-model="vm.statusSearch"
                                    placeholder="{{ 'OTHER.SEARCH' | translate }}...">
                            </md-select-header>
                            <!-- Select all -->
                            <md-select-header class="select-header" ng-click="vm.selectStatusAll()" md-ink-ripple>
                                <md-icon
                                    ng-if="vm.selected_statuses.length && vm.selected_statuses.length !== vm.statuses.length"
                                    md-font-icon="icon-checkbox-multiple-blank-outline" class="ml-0 mr-5"></md-icon>
                                <md-icon
                                    ng-if="!vm.selected_statuses.length || vm.selected_statuses.length === vm.statuses.length"
                                    md-font-icon="icon-checkbox-multiple-marked" class="ml-0 mr-5"></md-icon>
                                <span>{{ 'OTHER.ALL_STATUSES' | translate }}</span>
                            </md-select-header>
                            <!-- List -->
                            <md-optgroup>
                                <md-option ng-value="status.id" ng-repeat="status in vm.statuses"
                                    ng-show="searchItem(status, 'name', vm.statusSearch)">
                                    {{ status.name }}
                                </md-option>
                            </md-optgroup>
                        </md-select>
                    </div>

                    <md-button ng-if="vm.selected_sprints.length || vm.selected_stories.length || vm.selected_users.length || vm.selected_statuses.length"
                        ng-click="vm.resetfilters()" class="md-icon-button option-selector" layout="row" layout-align="center center">
                        <md-icon md-font-icon="icon-filter-remove" class="icon s18"></md-icon>
                        <md-tooltip>
                            {{ 'TASKS-CALENDAR.RESET_FILTERS' | translate }}
                        </md-tooltip>
                    </md-button>
                </div>

                <div layout="row">
                    <!-- Calendar view change -->
                    <!-- <md-button class="md-icon-button option-selector days button-wrapper" layout="row" layout-align="center center" ng-click="vm.changeCalendarView('basicDay')">
                        <md-icon class="icon s20 md-default-theme material-icons icon-view-day"
                            md-font-icon="icon-view-day"></md-icon>
                        <md-tooltip>
                            <span translate="TASKS-CALENDAR.DAY"></span>
                        </md-tooltip>
                    </md-button>
                    <md-button class="md-icon-button option-selector weeks button-wrapper" layout="row" layout-align="center center" ng-click="vm.changeCalendarView('agendaWeek')">
                        <md-icon class="icon s20 md-default-theme material-icons icon-view-week"
                            md-font-icon="icon-view-week"></md-icon>
                        <md-tooltip>
                            <span translate="TASKS-CALENDAR.WEEK"></span>
                        </md-tooltip>
                    </md-button>
                    <md-button class="md-icon-button option-selector months button-wrapper" layout="row" layout-align="center center" ng-click="vm.changeCalendarView('month')">
                        <md-icon class="icon s20 md-default-theme material-icons icon-view-module"
                            md-font-icon="icon-view-module"></md-icon>
                        <md-tooltip>
                            <span translate="TASKS-CALENDAR.MONTH"></span>
                        </md-tooltip>
                    </md-button> -->

                    <div class="close-calendar button-wrapper">
                        <md-button class="md-icon-button option-selector" layout="row" layout-align="center center"
                            ng-click="vm.closeCalendar()">
                            <md-icon class="icon s20 md-default-theme material-icons icon-close"
                                md-font-icon="icon-close"></md-icon>
                            <md-tooltip>
                                <span translate="{{ 'TASKS-CALENDAR.CLOSE_CALENDAR' | translate }}"></span>
                            </md-tooltip>
                        </md-button>
                    </div>

                    <div class="search-bar">
                        <ms-search-bar ng-model="vm.search"></ms-search-bar>
                        <md-tooltip>
                            <span translate="TASKS-CALENDAR.SEARCH"></span>
                        </md-tooltip>
                    </div>

                </div>
            </div>
        </div>
    </div>


    <div class="center" layout="column" flex>

        <div class="content">
            <!-- CALENDAR NAV -->
            <div id="calendar-top" class="mb-10" layout="row" layout-align="start center">
                <div class="calendar-title" id="calendar-title" flex="60" layout-align="start center"></div>
                <div class="navigation-container" id="calendar-navigation" flex="40" layout="row" layout-align="end center">
                    <!--<div class="md-title calendar-view-type" translate="{{ 'TASKS-CALENDAR.MONTH' | translate }}"></div> -->
                    <md-button class="md-icon-button option-selector" ng-click="vm.prevCalendarPage()">
                        <md-icon class="icon s40 md-default-theme material-icons" md-font-icon="icon-chevron-left"></md-icon>
                    </md-button>
                    <md-button class="today md-raised" translate="{{ 'TASKS-CALENDAR.CURRENT_MONTH' | translate }}" ng-click="vm.switchToToday()">
                    </md-button>
                    <md-button class="md-icon-button option-selector" ng-click="vm.nextCalendarPage()">
                        <md-icon class="icon s40 md-default-theme material-icons" md-font-icon="icon-chevron-right"></md-icon>
                    </md-button>
                </div>
            </div>
            <!-- CALENDAR -->
            <div layout="row">
                <div id="calendar"></div>
            </div>
        </div>
    </div>

    <md-sidenav class="preview-sidenav md-sidenav-right" md-component-id="preview-sidenav" md-is-locked-open="$mdMedia('gt-md')"
        ng-include="'app/main/agile/sidenav/sidenav.html'" ng-show="vm.selected_ticket"
        ms-sidenav-helper>
    </md-sidenav>


</div>
