<div class="alert-success" ng-if="vm.tab2.msg_success">{{ vm.tab2.msg_success }}</div>
<div class="alert-error" ng-if="vm.tab2.msg_error">{{ vm.tab2.msg_error }}</div>

<div layout="row">

    <div class="form-wrapper  rounded-container max-1000" flex>

        <div class="form-title" translate="COMPANY_EDIT.METHOD_LIST"></div>

        <div layout-gt-sm="row">
            <md-table-container>
                <table md-table >
                    <thead md-head>
                    <tr md-row>
                        <th md-column ><span translate="OTHER.NAME"></span></th>
                        <th md-column ><span translate="OTHER.ACTION"></span></th>
                    </tr>
                    </thead>
                    <tbody md-body>
                    <tr md-row ng-repeat="method in vm.tab2.methods">
                        <td md-cell>{{method.name}}</td>
                        <td md-cell>
                            <md-button class="md-raised md-accent md-button md-default-theme" ng-click="vm.setDefaultMethod(method.id)" ng-if="method.id != vm.tab2.default" >
                                <span translate="COMPANY_EDIT.DEFAULT" ></span>
                            </md-button>
                            <div ng-if="method.id == vm.tab2.default" class="success pl-10" translate="COMPANY_EDIT.CURRENT_DEFAULT" ></div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </md-table-container>
        </div>
    </div>
</div>
