<div id="reset-password" class="flex-scrollable guest-layout" layout="column" ms-scroll>
    <div id="reset-password-form-wrapper" class="guest-wrapper" layout="column" layout-align="center center">
        <div id="reset-password-form" class="rounded-container guest-form">
            <logo-sqr></logo-sqr>

            <div class="title" translate="RESETPASSWORD.TITLE">Reset your password</div>

            <div class="success" ng-if="vm.msg_success">{{ vm.msg_success }}</div>
            <div class="error" ng-if="vm.msg_error">{{ vm.msg_error }}</div>
            <div class="error" ng-if="vm.not_reset_link != ''">
                <span translate="RESETPASSWORD.RESET_1"></span>
                <a href="{{vm.not_reset_link}}" translate="RESETPASSWORD.RESET_2"></a>
            </div>

            <form name="resetPasswordForm"
                    novalidate
                    ng-submit="vm.reset()">
                <md-input-container class="md-block" md-no-float>
                    <label><span translate="RESETPASSWORD.EMAIL_ADRESS"></span></label>
                    <input ng-model="vm.form.email" required  ng-maxlength="255" name="email" type="email">
                    <div ng-messages="resetPasswordForm.email.$error">
                        <div ng-message="required" ><span translate="ERRORS.FORM.REQUIRE"></span></div>
                        <div ng-message="email" ><span translate="ERRORS.FORM.EMAIL"></span></div>
                    </div>
                </md-input-container>

                <md-input-container class="md-block" md-no-float>
                    <label><span translate="RESETPASSWORD.PASSWORD"></span></label>
                    <input type="password" ng-model="vm.form.password" required pattern=".{6,}" name="password" id="password" >
                    <div ng-messages="resetPasswordForm.password.$error">
                        <div ng-message="required" ><span translate="ERRORS.FORM.REQUIRE"></span></div>
                        <div ng-message="pattern" ><span translate="ERRORS.FORM.PASSWORD"></span></div>
                    </div>
                </md-input-container>

                <md-input-container class="md-block" md-no-float>
                    <label><span translate="RESETPASSWORD.PASSWORD_CONFIRM"></span></label>
                    <input type="password" ng-model="vm.form.password_confirmation" required name="password_confirmation" ms-confirm="password" >
                    <div ng-messages="resetPasswordForm.password_confirmation.$error">
                        <div ng-message="required" ><span translate="ERRORS.FORM.REQUIRE"></span></div>
                        <div ng-message="confirm" ><span translate="ERRORS.FORM.CONFIRM"></span></div>
                    </div>
                </md-input-container>

                <md-button type="submit" class="md-raised md-accent" aria-label="UPDATE MY PASSWORD"
                           ng-disabled="resetPasswordForm.$invalid || resetPasswordForm.$pristine || vm.request_sending"
                           translate="RESETPASSWORD.UPDATE_PASSWORD"
                           translate-attr-aria-label="RESETPASSWORD.UPDATE_PASSWORD">
                    RESET MY PASSWORD
                </md-button>
            </form>

            <div class="languages-no-login" layout="row" layout="column" layout-align="end center">
                <div ng-click="vm.changeLanguage('pl')" class="mr-5" >
                    <span>
                        <img class="flag" ng-src="assets/images/flags/pl.png">
                    </span>
                </div>
                <div ng-click="vm.changeLanguage('en')" >
                    <span >
                        <img class="flag" ng-src="assets/images/flags/us.png">
                    </span>
                </div>
            </div>
        </div>
    </div>
    <footer ng-include="'app/layouts/footer.html'"></footer>
</div>
