<div id="forgot-password" class="flex-scrollable guest-layout" layout="column" ms-scroll>
    <div id="forgot-password-form-wrapper" class="guest-wrapper" layout="column" layout-align="center center">
        <div id="forgot-password-form" class="rounded-container guest-form">
            <logo-sqr></logo-sqr>

            <div class="title" translate="FORGOTPASSWORD.TITLE">Recover your password</div>

            <div class="success" ng-if="vm.msg_success">{{ vm.msg_success }}</div>
            <div class="error" ng-if="vm.msg_error">{{ vm.msg_error }}</div>

            <form name="forgotPasswordForm"
                    novalidate
                    ng-submit="vm.forgotPassword()">
                <md-input-container class="md-block" md-no-float>
                    <label><span translate="FORGOTPASSWORD.EMAIL_ADRESS"></span></label>
                    <input ng-model="vm.form.email" required  ng-maxlength="255" name="email" type="email">
                    <div ng-messages="forgotPasswordForm.email.$error">
                        <div ng-message="required" ><span translate="ERRORS.FORM.REQUIRE"></span></div>
                        <div ng-message="email" ><span translate="ERRORS.FORM.EMAIL"></span></div>
                    </div>
                </md-input-container>

                <md-button type="submit" class="md-raised md-accent" aria-label="RESET MY PASSWORD"
                           ng-disabled="forgotPasswordForm.$invalid || forgotPasswordForm.$pristine || vm.request_sending"
                           translate="FORGOTPASSWORD.SEND_RESET_LINK"
                           translate-attr-aria-label="FORGOTPASSWORD.SEND_RESET_LINK">
                    SEND RESET LINK
                </md-button>
            </form>

            <div class="login" layout="row" layout-align="center center">
                <a class="link" ui-sref="app.login" translate="FORGOTPASSWORD.GO_BACK">Go back to login</a>
            </div>

            <div class="languages-no-login" layout="row" layout="column" layout-align="end center">
                <div ng-click="vm.changeLanguage('pl')" class="mr-5" >
                    <span>
                        <img class="flag" ng-src="assets/images/flags/pl.png">
                    </span>
                </div>
                <div ng-click="vm.changeLanguage('en')" >
                    <span >
                        <img class="flag" ng-src="assets/images/flags/us.png">
                    </span>
                </div>
            </div>
        </div>
    </div>
    <footer ng-include="'app/layouts/footer.html'"></footer>
</div>
