/*----------------------------------------------------------------*/
/*  Mixins
/*----------------------------------------------------------------*/

// Maintain aspect ratio
@use "sass:math";

@mixin maintain-aspect-ratio($widthRatio, $heightRatio, $padding, $contentClass) {
    position: relative;

    &:before {
        display: block;
        content: "";
        width: 100%;
        padding-top: math.div($heightRatio, $widthRatio) * 100%;
    }

    > .#{$contentClass} {
        position: absolute;
        top: $padding;
        left: $padding;
        right: $padding;
        bottom: $padding;
    }
}